<h2>Authors</h2>

<ul>
  <% @authors.each do |author| %>
  <li>
    <strong>
      <%= link_to author.name, author_path(author) %>
    </strong>
    <%= link_to "Edit", edit_author_path(author) %>
    <%= link_to("Delete", author_path(author), method: :delete, data: { confirm: "Really really?" }) %>
  </li>
  <% end %>
</ul>
