<!-- <h2>Welcome to the Octos Library!</h2> -->

<p>We have many books sitting around for your reading pleasure</p>

<ul>
<% @books.each do |book| %>
  <li>
    <strong><%= book.title %></strong>
     By: <%= book.author %>
  </li>
<% end %>
</ul>

<a href="/books/new">Add a New Book</a>
