<% if model.errors.messages.any? %>
  <section class="error-messages">
    <h3>There were some problems</h3>
    <ul>
      <% model.errors.messages.each do |field, problems| %>
        <% problems.each do |problem| %>
          <li>
            <strong><%= field %></strong>
            <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
