<!DOCTYPE html>
<html>
  <head>
    <title>OctosLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>Before the yield</h3>
    <%= yield %>
    <h3>After the yield</h3>
  </body>
</html>
